.yellow{
	background-color: yellow;
	
	display: inline-block;/*poner un objeto junto a otro*/
}

.grey{
	background-color: grey;
	display: inline-block;
	margin:20px;

}
h4,h5{
	padding: 0.4em;
	margin: 0;
}
.white{
	color: white;
}